@model CreateNewProductVeiwModel


<section class="products-form">
    <div class="container">
        <h1 class="title">CREATE NEW PRODUCT</h1>
        <hr>
        <form novalidate method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" onkeyup="validate(event)" id="imageurl" type="text">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <div id="imageurlErrorMessage" class="errorMessage"></div>
            </div>

            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" onkeyup="validate(event)" id="name" type="text">
                <span asp-validation-for="Name" class="text-danger"></span>
                <div id="nameErrorMessage" class="errorMessage"></div>
            </div>

            <div>
                <label asp-for="Description"></label>
                <textarea asp-for="Description" type="text"></textarea>
            </div>

            <div>
                <label asp-for="Price"></label>
                <input asp-for="Price" onkeyup="validate(event)" id="price" type="text">
                <span asp-validation-for="Price" class="text-danger"></span>
                <div id="priceErrorMessage" class="errorMessage"></div>
            </div>

            <div>
                <label asp-for="PriceDiscount"></label>
                <input asp-for="PriceDiscount" type="text">
            </div>

            <div class="product-checboxes"> Select one or more categories:
                @foreach (SelectListItem category in ViewBag.Categories)
                {
                    <div class="mb-2">
                        <input id="category-@category.Text-@category.Value" type="checkbox" name="Categories" value="@category.Value" checked="@category.Selected" class="form-check-input" />
                        <label for="category-@category.Text-@category.Value" class="small form-check-label">@category.Text</label>
                    </div>
                }
            </div>

            <button class="btn-theme">CREATE</button>
        </form>
    </div>
</section>
