
<header>
    <div class="container">
        <div class="logo"><img src="~/images/logo.svg" alt="">bmerketo</div>
        <nav id="menu" class="menu-links">

            @if (singInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <a class="link" asp-controller="home" asp-action="index">HOME</a>
                <a class="link" asp-controller="products" asp-action="index">PRODUCTS</a>
                <a class="link" asp-controller="contacts" asp-action="index">CONTACT</a>
                <a class="link" asp-controller="products" asp-action="add">Add PRODUCTS</a>
                <a class="link" asp-controller="admin" asp-action="index">BACKOFFICE</a>
                <a class="link" asp-controller="account" asp-action="index">@(User.FindFirst("DisplayName")?.Value)</a>
            } 
            else if (singInManager.IsSignedIn(User) && User.IsInRole("user"))
            {
                <a class="link" asp-controller="home" asp-action="index">HOME</a>
                <a class="link" asp-controller="products" asp-action="index">PRODUCTS</a>
                <a class="link" asp-controller="contacts" asp-action="index">CONTACT</a>
                <a class="link" asp-controller="account" asp-action="index">@User.Identity?.Name</a>
            }
            else
            {
                <a class="link" asp-controller="home" asp-action="index">HOME</a>
                <a class="link" asp-controller="products" asp-action="index">PRODUCTS</a>
                <a class="link" asp-controller="contacts" asp-action="index">CONTACT</a>
                <a class="link" asp-controller="register" asp-action="index">Sign up</a>
            }


        </nav>
        <nav class="menu-icons">
            @if(singInManager.IsSignedIn(User))
            {
                <a class="link" asp-controller="products" asp-action="search"><i class="fa-regular fa-search"></i></a>
                <a class="link" asp-controller="logout" asp-action="index">LogOut</a>
                <a class="link" asp-controller="shopping" asp-action="chart"><i class="fa-solid fa-cart-shopping"></i></a>
            } else
            {
                <a class="link" asp-controller="products" asp-action="search"><i class="fa-regular fa-search"></i></a>
                <a class="link" asp-controller="login" asp-action="index">Login</a>
                <a class="link" asp-controller="shopping" asp-action="chart"><i class="fa-solid fa-cart-shopping"></i></a>
            }

        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>